.container {
    background-image: url(../img/background.png);
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}
.header {
    color: white;
    width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}
.logofoto {
    background-image: url(../img/logo.png);
    width: 44px;
    height: 44px;
    display: inline-block;
}
.logo:hover .logofoto{
    background: url(../img/logoorange.png);
}
.logo:hover a {
    color: #f26522;
}
.contact {
    text-align: right;
    letter-spacing: 2px;
    line-height: 1.5;
}
.name {
    display: inline-block;
    margin-left: 5px;
}
.title {
    color: white;
    text-align: center;
    margin: 30px;
    letter-spacing: 1px;
}
.foto {
    text-align: center;
    position: relative;
}
.block {
    opacity: 0;
    width: 307px;
    color: white;
    background-color: #f26522;
    position: absolute;
    left: 3px;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foto:hover .block {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}
.foto:hover a {
    color: #f26522;
}
.section {
    width: 1080px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer {
    width: 1080px;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 25px;
    color: white;
    text-align: center;
}
h1 {
    font-size: 32px;
}
.word {
    display: block;
    font-size: 14px; 
}
.euro {
    margin: 10px;
    text-align: left;
    line-height: 20px;
}
.price {
    font-size: 14px;
    margin-top: 35px;
    margin-right: 10px;
}
.from {
    font-size: 10px;
    font-weight: 400;
}
.currency {
    font-size: 20px;
}
.linear {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, whitesmoke 0%, black 100%);
    border-image-slice: 1;
    cursor: pointer;
}